<div class="container">
  <div *ngIf="walk" class="button">
    <a (click)="printThisPage()" class="no-print">Print walk 🡭</a>
  </div>
  <div *ngIf="walk" class="walk-container">
    <div class="walk-title-container">
      <h1 style="max-width: 90%;">{{walk.elements.title.value}}</h1>
      <div>
        <div class="length-container green">
          <p class="length">
            <span class="length-number">{{walk.elements.miles.value}}</span>
            miles
        </p></div>
        <div class="length-container yellow">
          <p class="length">
            <span class="length-number">{{(walk.elements.miles.value! * 1.609).toFixed(1)}}</span>
            km
        </p></div>
      </div>
    </div>
    <div style="height: 1px; background-color: black; width: 100%; margin-top: 10px;"></div>
    <div class="description-container">
      <p>{{walk.elements.short_description.value}}</p>
    </div>
    <div style="height: 1px; background-color: black; width: 100%; margin-bottom: 15px;"></div>

    <div class="g-map-container" *ngIf="walk.elements.embed_link.value">
      <iframe
        class="embedded-g-map"
        referrerpolicy="no-referrer-when-downgrade"
        [src]="getGMapsEmbedUrl() | safe"
        allowfullscreen>
      </iframe>
    </div>
    <div *ngIf="walk.elements.embed_link.value" class="view-full-map button"><a target="_blank" [href]="getGMapsFullscreenUrl()">View fullscreen map</a></div>

    <div class="location" *ngFor="let location of walk.elements.locations_of_walk.linkedItems;let indexOfElement=index;">
      <div class="location-title">
        <div class="location-number"><span>{{alphabet[indexOfElement]}}</span></div>
        <div class="location-title-text-container">
          <span class="location-title-text">{{location.elements.title.value}}</span>
        </div>
      </div>

      <div class="location-info">
        <div class="slideshow-container no-print" *ngIf="location.elements.picture.value[0]">
          <img class="location-image"
               id="location-image-{{location.elements.order.value}}"
               src="{{location.elements.picture.value[0].url}}">
          <a *ngIf="location.elements.picture.value.length > 1" class="prev" (click)="plusSlides(location.elements.order.value, -1)">&#10094;</a>
          <a *ngIf="location.elements.picture.value.length > 1" class="next" (click)="plusSlides(location.elements.order.value,1)">&#10095;</a>
        </div>
        <div *ngIf="location.elements.connections && location.elements.connections.value.length > 0" class="location-eu-flags">
          <div *ngFor="let connection of location.elements.connections.value" class="flag-text-container">
            <img class="location-eu-flag" src="../../assets/eu_countries/{{connection.codename}}.png">
            <span class="location-eu-country-name">{{connection.name}}</span>
          </div>
        </div>
        <p class="location-text" [innerHtml]="location.elements.information_about_location.value"></p>
      </div>
    </div>
    <div class="kofi-container no-print">
      <a href="https://ko-fi.com/leedsforeurope" id="kofi-link" target="_blank">
        <img src="https://storage.ko-fi.com/cdn/kofi_stroke_cup.svg">
        <span>Enjoyed the walk? Consider buying us a coffee</span>
      </a>
    </div>
    <div style="height: 1px; background-color: black; width: 100%; margin-top: 20px;"></div>
    <div class="feedback-container">
      <a class="feedback-link" href="mailto:info@leedsforeurope.org">
        <img src="../../assets/email.png" class="email-image">
        <span class="feedback-text">If you have any feedback, or would like to know more, please get in contact here</span>
      </a>
    </div>
  </div>
  <div *ngIf="!walk" class="walk-container no-print">
    <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>
