.button {
  background-color: var(--eu-blue);
  width: fit-content;
  border-radius: 5px;
  box-shadow: -3px 3px 2px rgb(148, 148, 148);
  animation-duration: 0.5s;
}

.button:active {
  transform: translate(-3px, 3px);
  box-shadow: 0 0 2px rgb(148, 148, 148);
  transition: 0.5s;
}

.button a {
  color: white;
  text-decoration: none;
  padding: 3px;
  font-size: large;
}

.container {
  padding: 15px 5% 0 5%;
  min-width: 50%;
  background-color: #fcffdb;
  border-radius: 0 0 15px 15px;
}

.walk-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.walk-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.green {
  background-color: rgb(183, 226, 140);
  border: 2px solid rgb(90, 122, 57);
}

.yellow {
  background-color: rgb(226, 215, 140);
  border: 2px solid rgb(147, 127, 48);
}

.length-container {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  color: black;
}

.length-container:first-of-type {
  margin-bottom: 5px;
}

.length-number {
  font-size: large;
  top: 3px;
  position: relative;
  font-weight: 1000;
}

.description-container {
  margin-bottom: 0.83em;
}

.g-map-container {
  width: 90%;
  height: 390px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.embedded-g-map {
  width: 100%;
  height: 450px;
}

.view-full-map {
  margin-bottom: 15px;
}

.location {
  background-color: rgb(203, 225, 245);
  max-width: -webkit-fill-available;
  border-radius: 0 25px 10px 10px;
  margin-bottom: 15px;
}

.location-title {
  color: white;
  font-size: 1.5em;
}

.location-title-text-container {
  width: 100%;
  background-color: var(--eu-blue);
  height: 100%;
  font-weight: bold;
  border-radius: 0 25px 0 0;
}

.location-number {
  background-color: rgb(218, 81, 138);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  left: -14px;
  top: -8px;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-info {
  padding: 0  0.83em 0 0.83em;
  overflow-wrap: anywhere;
}

.location-text {
}

.flag-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-eu-flags {
  float: right;
  position: relative;
  margin-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-eu-flag {
  width: 35px;
  height: 35px;
  margin: 0 0 5px 0;
  border-radius: 5px;
}

.location-eu-country-name {
  font-size: x-small;
}

.slideshow-container {
  float: left;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 15px;
  position: relative;
}

.location-image {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  background-color: rgba(0,0,0,0.55);
 }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
}

@media all and (min-width: 550px) {
  p {
    font-size: larger;
  }
}

@media all and (max-width: 550px) {
  .slideshow-container {
    float: none;
    width: 100%;
    margin-top: 0.415em;
    margin-bottom: 0%;
  }
  h1 {
    font-size: 5vw;
  }
}

.kofi-container {
  margin-bottom: 15px;
}

#kofi-link {
  height: 30px;
  display: flex;
  padding: 0.83em;
  background: wheat;
  border-radius: 20px;
}

#kofi-link > img {
  margin-right: 10px;
}

#kofi-link span {
  align-self: center;
}
