.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overall-map {
  width: 100%;
  align-self: center;
  max-width: 500px;
  border-radius: 5%;
  margin: 0;
}

.welcome-text {
}

.walk-info-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.title-and-length {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}

.walk-number {
  white-space: nowrap;
  align-self: center;
}

.length-container {
  background-color: rgb(183, 226, 140);
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: 2px solid rgb(90, 122, 57);
  display: flex;

  align-items: center;
  justify-content: center;
  color: black;
  align-self: center;
}

.length-number {
  font-size: large;
  top: 3px;
  position: relative;
  font-weight: 1000;
}

.walk-link,
.walk-link:link,
.walk-link:visited,
.walk-link:hover,
.walk-link:active {
  text-decoration: none;
}

.title {
  color: black;
  text-decoration-line: underline;
  max-width: 60%;
}

img {
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.walks-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.walk {
  flex-basis: 47%;

  height: 30%;
  max-height: 380px;

  margin: 15px 0 0;

  background-color: rgb(185, 218, 233);
  border-radius: 15px;
  border: 1px solid grey;
  overflow: hidden;
  box-shadow: 0px 0px 4px 1px rgb(148, 148, 148);
}

.walk:active {
  transform: translate(-5px, 5px);
  box-shadow: -0px 0px 3px rgb(148, 148, 148);
  transition: 0.1s;
}

.walk:hover, .other-website:hover {
  background-color: rgb(143, 202, 229);
  transition: 0.5s;
}

.walk-picture {
  width: 100%;
  margin: 10px 0 0 0;
  max-height: 320px;
  border-radius: 0 0 15px 15px;
  object-fit: cover;
}

.other-websites-container{
  margin-top: 25px;
  width: 100%;
}

.other-website {
  max-width: 400px;
  margin: auto;
  text-align: center;
  background-color: rgb(185, 218, 233);
  border-radius: 15px;
  box-shadow: 0px 0px 4px 1px rgb(148, 148, 148);
  border: 1px solid grey;
}

.other-website a {
  color: black !important;
  font-weight: bold;
  text-decoration: none !important;
  width: 100%;
  display: block;
  padding: 10px;
  height: 100%;
}

@media all and (max-width: 550px) {
  .walks-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
