<div class="home-container">
  <h1>Welcome to Leeds Eurowalks</h1>
  <img class="overall-map" src="../../assets/overall_map.png">
  <div style="height: 1px; background-color: black; width: 100%; margin-top: 15px;"></div>
  <p *ngIf="welcomeText" class="welcome-text">{{welcomeText}}</p>
  <div style="height: 1px; background-color: black; width: 100%;"></div>
  <div *ngIf="walkItems" class="walks-container">
    <div *ngFor="let walk of walkItems" class="walk">
      <a href="{{walk.href}}" class="walk-link">
        <div class="walk-info-items">
          <div class="title-and-length">
            <h3 class="walk-number">Walk #{{walk.number}}: </h3>
            <h3 class="title">{{walk.title}}</h3>
            <div class="length-container"><p class="length"><span class="length-number">{{walk.miles}}</span><br>miles
            </p></div>
          </div>
          <img class="walk-picture" src="{{walk.pictureUrl}}">
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="!walkItems" class="walks-container">
    <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <div *ngIf="walkItems && otherEurowalkWebsites" class="other-websites-container">
    <div style="height: 1px; background-color: black; width: 100%;"></div>
    <h2 style="text-align: center;">Other Eurowalks websites we support</h2>
    <div *ngFor="let otherWalk of otherEurowalkWebsites" class="other-website">
      <a href="{{otherWalk.url}}" target="_blank">{{otherWalk.title}} 🡭</a>
    </div>
  </div>
  <div style="height: 1px; background-color: black; width: 100%; margin-top: 20px;"></div>
  <div class="feedback-container">
    <a class="feedback-link" href="mailto:info@leedsforeurope.org">
      <img src="../../assets/email.png" class="email-image">
      <span class="feedback-text">If you have any feedback, or would like to know more, please get in contact here</span>
    </a>
  </div>
</div>
